$dark-brown: #764b1c;
$dark-dark-brown: #001234;
$baloo-font: 'baloo', regular;


.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button{
    border-radius: 90px !important;
    cursor: pointer;
}


.color-button{
    border: none;
    border-radius: 90px;
    background-color: rgba(225, 198, 153, 0.8);
    font-family: "baloo", regular;
    box-shadow: 0px 9px 11px 0px rgba(174, 121, 30, 1);
    font-size: 2.5vh;
    margin-right: 1vw;
    color:$dark-brown
}

.color-button:disabled,
.color-button[disabled]{
    border: none;
    border-radius: 90px;
    background: transparent;
    font-family: $baloo-font;
    color: $dark-dark-brown !important;
    font-size: 2.5vh;
}

.mat-mini-fab.color-button-small{
    border: none;
    border-radius: 50%;
    font-family: 'open-sans', sans-serif;
    color: $dark-dark-brown;
    font-size: 3vh;
    height: 25px;
    width: 25px;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 0px;
    line-height:0;
}

.transp-button{
    border: none;
    background: transparent;
    font-family: $baloo-font;
    font-size: 18px;
}

.mat-mini-fab .mat-button-wrapper {
    line-height: unset !important;
    padding: 0px;
}