$dark-dark-brown: #001234;

.flex-box, .unit-card, .plus-minus{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .flex-box{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}



.flex-box-features{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 10vh;
    min-height: 80vh;
}


.flex-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}

.mat-card{
    border-radius: 16px;
    background-color: rgba(white, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: rgba($dark-dark-brown, 34) ;
    padding: 10px;
}

// .mat-card-content.input-line{
//     padding-bottom: 10px;
//     color: $dark-brown !important;
// }

.mat-card.mat-card-main{
    border-radius: 16px;
    overflow: hidden;
    box-shadow: none;
    padding: 30px;
    max-width: 70vw;
    margin: 2vw;
}

.mat-card.building-card-in-main-page, .mat-card.upgrade-card-in-upgrades-page{
    background-color: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    box-shadow: none;
    margin: 20px;
    border-radius: 16px; 
    justify-content: center;
    min-height: 30vh;
    min-width: 10vw;
    max-width: 15vw;
    cursor: pointer;
}

.mat-card.upgrade-card-in-upgrades-page{
    max-height: 25vh;
    max-width: 10vw;
    margin-left: 45px;
    margin-right: 45px;
}

.mat-card-title{
    color: $dark-brown;
    font-family: $baloo-font;
    padding-bottom: 1vw;
}

.divider{
    display: flex;
    justify-content: center;
    align-items: center;
}

.attack-parts{
    padding: 10px;
}

.attack-one-unit{
    display: flex;
    direction: row;
}

.slider {
    width: 300px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;  
    padding-right: 5px;
    position: relative;
}