<div class="slider">
    <mat-list>
        <mat-list-item class="list-item">
            <form class="search-form">
                <mat-form-field class="search-full-width">
                    <mat-label>Felhasználónév</mat-label>
                    <input matInput>
                </mat-form-field>
            </form>
        </mat-list-item>

        <mat-list-item class="list-item">1</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="list-item">2</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="list-item">3</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="list-item">4</mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>