<div class="flex-box">
    <mat-card class="mat-card-main">
        <mat-card-content>
            <h1 class="main-card-title">Counties</h1>

            <div class="flex-box">
                <mat-list>
                    <div *ngFor="let county of counties" >
                        <mat-divider></mat-divider>
                        <mat-list-item  class="list-item" (click)="choose(county.id)"style="display: flex; flex-direction: row; justify-content: space-between; width: 100%">
                            
                            <div style="width: 10vw;">{{ county.countyName }} - {{county.score}}</div>
                            <div>
                                <mat-icon *ngIf="county.id === choosedCountyId">check_circle</mat-icon>
                            </div>
                            
                        </mat-list-item>
                    </div>
                </mat-list>
            </div>

            <div *ngIf="choosedCountyId">
                <div class="divider">
                    <mat-divider class="my-divider"></mat-divider>
                </div>
                <h3>Setting wine consumption</h3>
                    <form class="search-form" onsubmit="return false;">
                        <mat-form-field class="search-full-width" floatLabel="never">
                            <input matInput type="number" #wineCons (input)="changeWineCons(wineCons.value)" autocomplete="off">
                        </mat-form-field>
                    </form>
                
                    <div class="button">
                        <button mat-flat-button class="color-button" (click)="setWineCons()">Set Wine Consumption</button>
                    </div>
                    <div class="button">
                        <button mat-flat-button class="color-button" (click)="navigate()">Navigate To County</button>
                    </div>
            </div>

            <div class="divider">
                <mat-divider class="my-divider"></mat-divider>
            </div>

        </mat-card-content>
    </mat-card>

    <mat-card class="mat-card-main">
        <mat-card-content>
            <div>
                <h2>Create a new county</h2>
                <h3>Gold Cost: 10000</h3>
                <form onsubmit="return false;">
                    <mat-form-field class="search-full-width" floatLabel="never">
                        <mat-label>New County Name</mat-label>
                        <input matInput type="text" #countyName (input)="setCountyName(countyName.value)" autocomplete="off">
                    </mat-form-field>
                </form>
            </div>
            <div class="divider">
                <mat-divider class="my-divider"></mat-divider>
            </div>

            <div class="button">
                <button mat-flat-button class="color-button" (click)="createNewCounty()">Create new county</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>